<a href="https://colab.research.google.com/github/V-sao/Python/blob/Printing-Patterns/Pattern_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pattern Questions Using While loop 
Simple Square Patterns 

#Q1 print '*' in n rows and n columns

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print('*',end='')
    j+=1
  print()
  i+=1

5
*****
*****
*****
*****
*****

# Q2 print NumSquare pattern

In [ ]:
n= int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(n,end='')
    j+=1
  print()
  i+=1

5
55555
55555
55555
55555
55555

# Q3 print pattern 
                 
*   1111
*   2222
*   3333
*   4444

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(i,end='')
    j+=1
  print()
  i+=1

5
11111
22222
33333
44444
55555

# Q4 print pattern


*   1234
*   1234
*   1234
*   1234

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=n:
    print(j,end='')
    j+=1
  print()
  i+=1

4
1234
1234
1234
1234

# Q5 print pattern


*   4321
*   4321
*   4321
*   4321

In [ ]:
n= int(input())
i=1
while i<=n:
  j=1
  a=n
  while j<=n:
    print(a,end='')
    j+=1
    a-=1
  print()
  i+=1

5
54321
54321
54321
54321
54321

#Q6 print pattern

*   1
*   11
*   111
*   1111

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
   print(1,end='')
   j+=1
  print()
  i+=1

4
1
11
111
1111

#Q7 PrintPattern

*  1
*  12
*  123
*  1234

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    print(j,end='')
    j+=1
  print()
  i+=1

4
1
12
123
1234

#Q8 PrintPattern

*  1
*  23
*  456
*  78910

In [ ]:
n=int(input())
i=1
a=1
while i<=n:
  j=1
  while j<=i:
    print(a,end='')
    a+=1
    j+=1
  print()
  i+=1

4
1
23
456
78910

#Q8 PrintPattern

*  1
*  23
*  345
*  4567

In [ ]:
n=int(input())
i=1
while i<=n:
  j=1
 # a=i
  while j<=i:
    print((i+j)-1,end='')
    j+=1
    #a+=1
  print()
  i+=1

4
1
23
345
4567